section.banner(id="banner")
  .banner__container.grid-container 
    .banner__wrapper
      h1.banner__title Оксфорд 1950
      h1.banner__content Новая коллекция изысканных кресел 
    button.btn-reset.btn.banner__btn Ознакомиться
    