section.categories(id="categories")
  .categories__container.grid-container
    h2.categories__title.column-12  Топ категории
    .categories__grid.grid-container.column-12
      .categories__items.categories__items--sofa
        .categories__items--top
          .categories__items--content 
            span Прямые 
            span Угловые 
            span Модульные
          h3.categories__name Диваны
        .categories__img.categories__img--sofa
        .categories__items--bot
          .categories__link
            a.catalog-link(href="#") В каталог
      .categories__items.categories__items--chair
        .categories__items--top
          .categories__items--content 
            span Мягкие 
            span Кресла-кровати 
          h3.categories__name Кресла
        .categories__img.categories__img--chair
        .categories__items--bot
          .categories__link
            a.catalog-link(href="#") В каталог
      .categories__items.categories__items--small.categories__items--bed
        .categories__items--top
          .categories__items--content 
            span Односпальные 
            span Двуспальные 
          h3.categories__name Кровати
        .categories__img.categories__img--bed
        .categories__items--bot
          .categories__link
            a.catalog-link(href="#") В каталог
      .categories__items.categories__items--small.categories__items--dresser
        .categories__items--top
          .categories__items--content 
            span Тумбы 
            span Комоды 
          h3.categories__name Тумбы и комоды
        .categories__img.categories__img--dresser
        .categories__items--bot
          .categories__link
            a.catalog-link(href="#") В каталог
      .categories__items.categories__items--small.categories__items--chairs
        .categories__items--top
          .categories__items--content 
            span Деревянные 
            span Металлокаркас 
          h3.categories__name Стулья
        .categories__img.categories__img--chairs
        .categories__items--bot
          .categories__link
            a.catalog-link(href="#") В каталог                                        