section.useful(id="useful")
  .useful__container.grid-container
    h2.useful__title.column-12 Полезное
    .useful__grid.grid-container.column-12
      .useful__items.column-6
        .useful__img.useful__img--left
        .useful__wrapper
          .useful__items--content И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?
          button.btn-reset.btn.btn-buy.offers__button(type="button") Читать
      .useful__items.column-6
        .useful__img.useful__img--right
        .useful__wrapper
          .useful__items--content Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          button.btn-reset.btn.btn-buy.offers__button(type="button") Читать