@use '../abstracts/variables' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 32px;
    &__list {
        display: flex;
        font-size: 14px;
        line-height: 14px;  
        color: $color-text-secondary
    }
    &__item {
      &:not(:last-child)::after {
          content: '/';
          margin: 0 5px;
      }
    }
    &__current {
        color: $color-link-catalog-active;
    }
  }
  