
@use '../abstracts/variables' as *;

body {
    margin: 0 auto;
    // max-width: 1920px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    // @media (max-width: 750px) {
    //     font-size: 14px;
    //     line-height: 25px;
    // }
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;  
}

p, input, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1  {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;    
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;        
    color: $color-text-primary;
}

h4 {
    font-size: 24px;
    line-height: 31.2px;    
}

h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;    
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.btn {
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    width: max-content;
    border-radius: 10px;
    color: $color-text-btn;
    background-color: $color-btn-bg;
    border: 2px solid $color-btn-bg;
    transition: All 0.3s ease-in-out;
    outline: none;
    &:focus {
        border-color: $color-btn-active;
        background-color: $color-btn-focus;
    }
    &:hover {
        border-color: $color-btn-hover;
        background-color: $color-btn-hover;
    }   
    &:active {
        background-color: $color-btn-active;
    }
    &:disabled {
        background-color: $color-btn-disable;
        cursor: not-allowed;
    }
}

.btn-buy {
    color: $color-btn-bg;
    border: 2px solid $color-btn-bg;
    background-color: transparent;
    padding: 17px 33px;
    transition: All 0.3s ease-in-out;
    &:focus {
        outline: transparent;
        background-color: $color-btn-focus;
        color: $color-text-light;
    }  
    &:hover {
        background-color: $color-btn-bg;
        color: $color-text-light;
    }   
       
    &:active {
        background-color: $color-btn-active;
        color: $color-text-light;
    }
    &:disabled {
        background-color: $color-btn-disable;
        cursor: not-allowed;
    }
}

.nav-link a {
    position: relative;    
    transition: all 0.3s ease-in-out;
    &:focus {
        color: $color-menu-focus;
        outline: none;
        background-color: $color-menu-focus-bg;
    }          
    &:hover {
        color: $color-menu-hover;
    }
    &:active {
        color: $color-menu-active;
        background-color: transparent;
    }
}

.catalog-link {
    position: relative;    
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    cursor: pointer; 
    color: $color-link-catalog;
    text-decoration: none; 
    transition: all 0.3s ease-in-out;        
    &:active {
        color: $color-link-catalog-active;
    }
    &:focus {
        outline: none;
        color: $color-link-catalog-active;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-link-catalog;
        transition: width 0.3s ease;
      }
      &:focus::before {
        width: 100%; 
      }    
      &:hover::before {
        width: 100%; 
      }
    &::after {
        content: '';
        position: absolute;
        margin-left: 5px;
        width: 22px; 
        height: 22px;
        background-image: url("../../images/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease, filter 0.3s ease;
    }
    &:focus::after {
        background-image: url("../../images/arrow-focus.svg");
    }
    &:hover::after {
        background-image: url("../../images/arrow-hover.svg");
    }
    &:active::after {
        background-image: url("../../images/arrow-active.svg");
    }
}

.checkbox {
    display: inline;
    user-select: none;
    cursor: pointer;
    max-width: fit-content;
    &-input {
        position: absolute;
        appearance: none;
      }          
      &-text {
        position: relative;
        padding-left: 24px;
        font-size: 14px;
        line-height: 19.07px;                
      }
      &-agreement {
        color: $color-link-catalog;
        border-bottom: 1px solid $color-link-catalog;
        transition: all 0.3s ease-in-out;  
        &:focus {
            color: $color-menu-focus;
            outline: none;
            background-color: $color-menu-focus-bg;
          }          
          &:hover {
            color: $color-menu-hover;
          }
          &:active {
            color: $color-menu-active;
            border-bottom-color: $color-menu-active;
            background-color: transparent;
        }
      }          
      &-text::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 14px;
        height: 14px;
        border: 1px solid $color-text-input;
        transform: translateY(-50%);
      }          
      &-text::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 16px;
        height: 14px;
        background-image: url("../../images/chekbox.svg");
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-in-out;
      }          
      &-input:checked+&-text::after {
        opacity: 1;
      }          
      &-input:focus+&-text {
        outline-offset: 5px;
        outline: var(--focus);
      }           
}