nav.breadcrumbs.grid-container
  ul.breadcrumbs__list
    li.breadcrumbs__item.nav-link
      a.breadcrumbs__link(href="index.html") Главная
    li.breadcrumbs__item.nav-link
      a.breadcrumbs__link(href="catalog.html") Каталог
    li.breadcrumbs__item.nav-link
      a.breadcrumbs__link(href="/") Диваны      
    li.breadcrumbs__item.nav-link
      a.breadcrumbs__link(href="/") Прямые диваны
    li.breadcrumbs__item
      span.breadcrumbs__current D-31     