footer.footer(id="footer")
  .footer__container.grid-container
    .footer__wrapper
      .footer__section.footer__section--logo
        a.footer__logo(href="#")
          svg.icon-phone(width="187" height="27")
            use(xlink:href="/images/sprite.svg#logo")
      .footer__section.footer__section--social
        a(href="#").footer__icon
          svg.icon-menu(width="30" height="30")
            use(xlink:href="/images/sprite.svg#ok")   
        a(href="#").footer__icon
          svg.icon-menu(width="30" height="28")
            use(xlink:href="/images/sprite.svg#vk")  
    .footer__section.footer__section--nav          
      nav.footer__nav.footer__nav--aboutUs
        ul.footer__menu
          li.footer__item.nav-link
            a(href="#") О нас
          li.footer__item.nav-link
            a(href="#") О компании
          li.footer__item.nav-link
            a(href="#") Блог
      nav.footer__nav.footer__nav--services
        ul.footer__menu
          li.footer__item.nav-link
            a(href="#") Услуги
          li.footer__item.nav-link
            a(href="#") Доставка
          li.footer__item.nav-link
            a(href="#") Рассрочка и кредит
          li.footer__item.nav-link
            a(href="#") Сборка и установка    
      nav.footer__nav.footer__nav--contact
        ul.footer__menu
          li.footer__item.nav-link
            a(href="#") Связь с нами
          li.footer__item.nav-link
            a(href="#") Обратная связь
          li.footer__item.nav-link
            a(href="#") Контакты
      nav.footer__nav.footer__nav--partnership
        ul.footer__menu
          li.footer__item.nav-link
            a(href="#") Сотрудничество
          li.footer__item.nav-link
            a(href="#") Поставщикам
          li.footer__item.nav-link
            a(href="#") Оптовикам
          li.footer__item.nav-link
            a(href="#") Карьера                           
    p.footer__section.footer__section--copy.column-12 SDP®   2011-2021