// $section-spacing-large: 68px;
// $section-spacing-small: 40px;
$section-spacing-default: 70px;


$color-light: #ffffff;

$color-background-primary: #F6F6F6;
$color-background-first-menu: #F6F6F6;
$color-background-light: #FFFFFF;
$color-background-discount: #FF862F;

$color-link: #FF862F;
$color-link-hover: #FFBD59;
$color-link-focus: #FF862F;
$color-link-focus-bg: #FFF5D1;
$color-link-active: #BB370E;

$color-link-catalog: #A65CF0;
$color-link-catalog-hover: #A65CF0;
$color-link-catalog-focus: #EBD1FF;
$color-link-catalog-focus-bg: #A65CF0;
$color-link-catalog-active: #7033AC;

$color-menu-first: #999999;
$color-menu-second: #333;
$color-menu-hover: #A65CF0;
$color-menu-focus: #7033AC;
$color-menu-focus-bg: #EBD1FF;
$color-menu-active: #7033AC;

$color-menu-icons: #A65CF0;
$color-menu-icons-hover: #C998FB;
$color-menu-icons-focus: #FFFFFF;
$color-menu-icons-focus-bg: #C998FB;
$color-menu-icons-active: #7033AC;

$color-btn-bg: #A65CF0;
$color-btn-hover: #C998FB;
$color-btn-focus: #C998FB;
$color-btn-focus-border: #7033AC;
$color-btn-active: #7033AC;
$color-btn-disable: #EAEAEA;

$color-input-bg: #F6F6F6;
$color-input-hover: #EAEAEA;
$color-input-focus: #F8EFFF;
$color-input-focus-border: #A65CF0;
$color-input-active: #F6F6F6;
$color-input-active-border: #B8EC64;

$color-text-primary: #333333;
$color-text-secondary: #999999;
$color-text-light: #ffffff;
$color-text-input: #333333;
$color-text-btn: #ffffff;
$color-text-banner-title: #D5B986;
$color-text-sidebar: #666666;
