extends ../layouts/_layout.pug

block content
  include ../sections/index/_hero.pug
  include ../sections/index/_offers.pug
  include ../sections/index/_ratings.pug
  include ../sections/index/_banner.pug  
  include ../sections/index/_categories.pug    
  include ../sections/index/_useful.pug
  include ../sections/index/_contact.pug

