doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SitDownPls
    link(rel="stylesheet" href="main.css")
  body
    include ../includes/_header
    block content
    include ../includes/_footer
    script(src="js/app.js")
